<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/logos/foto.webp" class="img-fluid" id="perfil" alt=""></div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Camila Chiavassa</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Información Personal</h1>
            <p>Acerca de mí....</p>
        </span>
    </div>
</div>

