<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logos/APLogo.png" id="logoAp">
        </div>
    </div>
    <div class="redes">
            <a href=""><img src="../../../assets/logos/facebook.png" id="facebook" alt=""></a>
            <a href=""><img src="../../../assets/logos/github.png" id="github" alt=""></a>
            <a href=""><img src="../../../assets/logos/instagram.png" id="instagram" alt=""></a>
            <a href=""><img src="../../../assets/logos/linkedin.png" id="linkedin" alt=""></a>
            <a href=""><img src="../../../assets/logos/twitter.png" id="twitter" alt=""></a>
            <button type="button" class="btn btn-outline-ligth">Ingresar</button>
    </div>
</div>