<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-12">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>tiempo</h3>
            </li>
            <p>completar</p>
        </ul>
    </div>
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>tiempo</h3>
            </li>
            <p>completar</p>
        </ul>
    </div>
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>tiempo</h3>
            </li>
            <p>completar</p>
        </ul>
    </div>
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 4</h1> - <h3>tiempo</h3>
            </li>
            <p>completar</p>
        </ul>
    </div>
</div>
