<div class="row">
    <h1>Habilidades</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'Moodle'"
            [titleColor]="'red'"
            [titleFontSize]="'3em'"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [lazy]="true"
        ></circle-progress>
    </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'2'"
        [titleColor]="'red'"
        [titleFontSize]="'3em'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        [lazy]="true"
    ></circle-progress>
    </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'3'"
        [titleColor]="'red'"
        [titleFontSize]="'3em'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        [lazy]="true"
    ></circle-progress>
    </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'4'"
        [titleColor]="'red'"
        [titleFontSize]="'3em'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        [lazy]="true"
    ></circle-progress>
    </div>
</div>
